.btn{
	background-color: #090E67;
	padding: 15px 20px;
	border-radius: 10px;
	color: red;
	font-style: 0;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
.btn:hover{
	background-color: white;
	color: #090E67;
}